{% extends "base.html" %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/logo/rent.png' %}" class="img-fluid" alt="DjangoX logo"/>
  <p class="lead">GearGo.</p>
</div>
{% endblock content%}